{% extends 'cookbook/base.html' %}

{% block content %}

<div class="container my-5">
  <h2>About The Recipe Collective</h2>
  <p>Are you tired of cooking the same old meals every week? Let The Recipe Collective be your go-to source for culinary inspiration. Our community-driven platform offers a smorgasbord of delicious recipes to suit every taste bud, whether you're a kitchen novice or a seasoned chef. And for all the tired moms out there with tiny food critics at home, we've got you covered too! Plus, with features like comments and likes, you can connect with fellow foodies and get feedback on your latest creations.</p>
  <p>So why settle for the same old boring meals? Join The Recipe Collective and spice up your kitchen game!</p>
</div>

<div class="container-fluid bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Sign Up</h2>
        <p>Create an account to access all the features of The Recipe Collective:</p>
        <ul>
          <li>Save your favorite recipes</li>
          <li>Submit your own recipes to share with the community</li>
          <li>Connect with other foodies and get feedback on your latest creations</li>
          <li>Make weekly plans with the meal planner - <strong>Coming Soon!</strong></li>
        </ul>
        <p><a href="#" class="btn btn-custom-primary">Sign Up</a></p>
      </div>
      <div class="col-md-6">
        <h2>Log In</h2>
        <p>Already have an account? Log in to access all the features of The Recipe Collective:</p>
        <ul>
          <li>Save your favorite recipes</li>
          <li>Submit your own recipes to share with the community</li>
          <li>Connect with other foodies and get feedback on your latest creations</li>
          <li>Make weekly plans with the meal planner - <strong>Coming Soon!</strong></li>
        </ul>
        <p><a href="#" class="btn btn-custom-secondary">Log In</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
