<div class="cookbook-links-container container-centered d-grid gap-2 d-md-block">
    <!-- Text link for All Recipes -->
    <a class="btn btn-link cookbook-links btn-custom-primary-outline" role="button" data-mdb-ripple-color="dark" href="{% url 'cookbook-home' %}"><i class="fa-solid fa-book"></i> All Recipes</a>
    
    <!-- Text link for My Recipes -->
    <a class="btn btn-link cookbook-links btn-custom-primary-outline" role="button" data-mdb-ripple-color="dark" href="{% url 'myrecipes' %}"><i class="fa-solid fa-user"></i> My Recipes</a>
    
    <!-- Text link for Favorite Recipes -->
    <a class="btn btn-link cookbook-links btn-custom-primary-outline" role="button" href="{% url 'favorite_list' %}"><i class="fa-solid fa-book-heart"></i><i class="fa-solid fa-heart"></i> Favorite Recipes</a>

    <!-- Text link for Favorite Recipes -->
    <a class="btn btn-link cookbook-links btn-sm btn-custom-primary" role="button" href="{% url 'recipe-create' %}"><i class="fa-solid fa-plus"></i> Add Recipes</a>
</div>