<div class="cookbook-links-container">
    <button type="button" class="btn btn-link cookbook-links" data-mdb-ripple-color="dark">
        <a href="{% url 'cookbook-home' %}">All Recipes</a>
    </button>
    <button type="button" class="btn btn-link cookbook-links" data-mdb-ripple-color="dark">
        <a href="{% url 'myrecipes' %}">My Recipes</a>
    </button>
    <button type="button" class="btn btn-link cookbook-links">
        <a href="{% url 'favorite_list' %}">Favorite Recipes</a>
    </button>
</div>