<div class="cookbook-links-container container-centered">
    <!-- Text link for All Recipes -->
    <a class="btn btn-link cookbook-links" data-mdb-ripple-color="dark" href="{% url 'cookbook-home' %}">All Recipes</a>
    
    <!-- Text link for My Recipes -->
    <a class="btn btn-link cookbook-links" data-mdb-ripple-color="dark" href="{% url 'myrecipes' %}"> | My Recipes | </a>
    
    <!-- Text link for Favorite Recipes -->
    <a class="btn btn-link cookbook-links" href="{% url 'favorite_list' %}">Favorite Recipes</a>
</div>