{% extends 'cookbook/base.html' %}
{% block content %}

<div class="container container-centered" >
    <div class="list-header">
        <h2>the Collective Cookbook</h2>
        <p>On this page, you can view the latest recipes that have been added to the collective's cookbook. If you find any
        that you like, feel free to add them to your favorites.</p><br>

        {% include 'cookbook/cookbook_links.html' %}
    </div>
    <br>

    <!-- RECIPE LIST -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}" />
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'recipe-detail' recipe.id %}"> {{ recipe.title }} </a></h5>
                    <small class="author">by <a href="#">{{ recipe.author }}, {{ recipe.author.profile.get_food_relation_display }}</a> on {{ recipe.date_posted }}</small><br>
                    <small>Prep Time: {{ recipe.prep_time }} | Cooking Time: {{ recipe.cooking_time }} </small>
                    <hr>
                    <p class="card-text">
                        {{ recipe.excerp }}
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center pt-3 pb-3">
                    <small class="text-muted">Last updated: {{ recipe.date_updated }}</small>
                    <a href="{% url 'recipe-detail' recipe.id %}" class="btn btn-outline-success btn-sm">More
                        Info...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'cookbook/pagination.html' %}    
</div>

{% endblock content %}