<div class="cols-md-6 mt-3">
    <nav aria-label="Site pagination">
        <ul class="pagination justify-content-center">

            <!-- if there is more than 3 pages we will also see a button to go back to the first page -->
            {% if page_obj.number > 3 %}
                <li class="page-item">
                    <a class=" page-link" href="?page=1">First</a>
                </li>
            {% endif %}

            <!-- if current page has a previous page we be able to press on the previous button -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number}}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}

            <!-- button with page number for each page -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ num }}">{{ num }}<span class="visually-hidden">(current)</span></a>
                    </li>

                <!-- if there is more than 3 pages we add more buttons for pages and move forward -->
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a
                    class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            <!-- if current page has a next page we will be able to press the next button -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>