{% extends 'cookbook/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div id="main-recipe-form">
  <div id="intro-recipe" class="p-5 text-center bg-image"
    style="
      background-image: url('https://res.cloudinary.com/sandrabergstrom/image/upload/v1684406756/bg/calum-lewis-vA1L1jRTM70-unsplash_tl2p5y.webp');">
    <div class="mask" style="background-color: rgba(248, 248, 248, 0.6)">
      <div class="container d-flex h-100 justify-content-center">
        <div class="text-dark row justify-content-center align-items-center">
          <div class="col-md-12 p-5 rounded pb-0" style="background-color: rgba(248, 248, 248, 0.6)">
            <div class="content-section" id="content-recipe">
              <div class="media profile-image">

                <!-- Recipe image -->
                <img class="rounded-circle" src="{{ recipe.featured_image.url }}" alt="Image of {{ recipe.title }}"
                  style="
                  width: 150px;
                  height: 150px;
                  display: cover;
                  ">
                
                <!-- -Recipe title with excerp -->
                <div class="media-body-profile">
                  <h2 class="account-heading">{{ recipe.title }}</h2>
                  <p class="text-secondary">{{ recipe.excerp }}</p>
                </div>
              </div>

              <!-- Form to add/edit recipe -->
              <form method="POST" action="#" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Recipe Details</legend>
                  {{ form|crispy }}
                  {{ form.media }}
                </fieldset>
                <div class="form-group">
                  <button type="submit" class="btn btn-custom-primary">Save</button>
                </div>
                <br>
                <br>
              </form>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}