{% extends 'cookbook/base.html' %}
{% load static %}
{% block content %}

<div class="main-one-page">
    <!-- Background image -->
    <div class="p-5 text-center bg-image intro-bg bg-img-one-page"
        style="background-image: url('https://res.cloudinary.com/sandrabergstrom/image/upload/v1684404872/bg/ella-olsson-oPBjWBCcAEo-unsplash_lhwhp2.webp');">
        <div class="mask" style="background-color: rgba(248, 248,248, 0.6);">
            <div class="container d-flex h-100 justify-content-center align-items-center">
                <div class="text-dark row justify-content-center align-items-center">
                    <div class="col-md-12 p-5 rounded" style="background-color: rgba(248, 248,248, 0.6);">
                        <h1 class="mb-3">the Recipe Collective</h1>
                        <p class="mb-1">Discover a world of culinary inspiration with the Recipe Collective</p>
                        <p class="mb-4">- your go-to resource for mouth-watering recipes and insider culinary secrets!</p>
                        <a class="btn btn-custom-primary-outline btn-lg m-2 btn-sm" href="{% url 'register' %}"
                            role="button" rel="nofollow">Sign up!</a>
                        <a class="btn btn-custom-primary-outline btn-lg m-2 btn-sm" href="{% url 'login' %}"
                            role="button">Login</a>
                        <hr>
                        <small class="text-muted">Pssst...You don’t need an account to browse</small><br>
                        <a class="btn btn-custom-primary btn-lg m-2" href="{% url 'cookbook-home' %}" role="button">Browse Recipes</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</div>

{% endblock content %}