{% extends 'cookbook/base.html' %}
{% block content %}


<div class="main-scroll-page">
    <div class="container container-centered">
        <!-- Header and paragraph with links to users different recipe pages -->
        <div class="list-header">
            <div class="container-centered container-cookbook-text">
                <h2>My Recipes</h2>
                <p>Here you can view all the recipes that you have added to the collective - both the private and
                    the
                    public ones.</p>
            </div>
            {% include 'cookbook/cookbook_links.html' %}
        </div>
        <br>

        <!-- Check if user has any favorites and if it has - show list of favorites  -->
        {% if added.exists %}
        <!-- Recipe List -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for recipe in added %}
                {% if recipe.author == user %}
                    {% include 'cookbook/list_card.html' %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- If user doesn't have any favorites this message with link to cookbook will appear -->
        {% else %}
        <div class="nothing-message">
            <p>You don't have any recipes yet. Why don't you
                <a href="{% url 'recipe-create' %}"> add a recipe</a>
                right away!
            </p>
        </div>
        {% endif %}
    </div>

    <!-- Pagination -->
    <div class="row pagination-container">
        {% if added|length > paginate_by %}
        {% include 'cookbook/pagination.html' %}
        {% endif %}
    </div>
</div>

{% endblock content %}