{% extends "cookbook/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container container-centered">
    <div id="list-header">
        <h2>my Recipes</h2>
        <p>Here you can view all the recipes that you have added to the collective - both the private and the public ones.</p>
    </div>
    <hr>

    <!-- RECIPE LIST -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for recipe in added %}
            {% if recipe.author == user %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}" />
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'recipe-detail' recipe.id %}"> {{ recipe.title }} </a></h5>
                        <small class="author">by <a href="#">{{ recipe.author }}, {{ recipe.author.profile.get_food_relation_display }}</a> 
                            on {{ recipe.date_posted }}</small><br>
                        <small>Prep Time: {{ recipe.prep_time }} | Cooking Time: {{ recipe.cooking_time }} </small>
                        <hr>
                        <p class="card-text">
                            {{ recipe.excerp }}
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center pt-3 pb-3">
                        <small class="text-muted">Last updated: {{ recipe.date_updated }}</small>
                        <a href="{% url 'recipe-detail' recipe.id %}" class="btn btn-outline-success btn-sm">More
                            Info...</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- PAGINATION -->
    <div div class="row" id="pagination-container">
        {% if is_paginated %}
        <div class="cols-md-6 mt-3">
            <nav aria-label="Site pagination">
                <ul class="pagination justify-content-center">

                    <!-- if there is more than 3 pages we will also see a button to go back to the first page -->
                    {% if page_obj.number > 3 %}
                    <li class="page-item">
                        <a class=" page-link" href="?page=1">First</a>
                    </li>
                    {% endif %}

                    <!-- if current page has a previous page we be able to press on the previous button -->
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number}}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    {% endif %}

                    <!-- button with page number for each page -->
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ num }}">{{ num }}<span
                                class="visually-hidden">(current)</span></a>
                    </li>
                    <!-- if there is more than 3 pages we add more buttons for pages and move forward -->
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a
                            class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        <!-- if current page has a next page we will be able to press the next button -->
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}