        /* ROOT */

:root {
    --clr-primary-light: rgba(248, 248, 248);
    --clr-primary-dark: rgba(66, 47, 33);
    --clr-primary-black: rgba(29, 19, 18);

    --clr-neutral-light: rgba(192, 188,  177);
    --clr-neutral-dark: rgba(106, 86, 77);

    --clr-accent-pink: rgb(176, 75, 124);
    --clr-accent-orange: rgba(195, 130, 53);
    --clr-accent-green: rgb(103, 139, 96);
}

        /* BASE */

body{
    background: var(--clr-primary-light);
    color: var(--clr-primary-dark)
}

#navbar-bg {
    color: var(--clr-neutral-light);
}

#nav-logo {
    font-size: 2rem;
    color: var(--clr-primary-dark);
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--clr-accent-orange)
}

.btn-link {
    text-decoration: none;
}

.btn-custom-primary {
    background-color: var(--clr-accent-orange);
    color: var(--clr-primary-light);
}

.btn-custom-secondary {
    background-color: var(--clr-accent-green);
    color: var(--clr-primary-light);
}

.btn-custom-neutral-light {
    background-color: var(--clr-neutral-light)
    color: var(--clr-primary-dark);
}

.btn-link {
    color: var(--clr-neutral-dark);
}

        /* HOME PAGE */

.pagination a {
    color: var(--clr-neutral-dark);
}

.pagination .active a {
    color: var(--clr-primary-light);
    background-color: var(--clr-accent-orange);
    border-color: var(--clr-accent-orange);
}

.pagination a:hover {
    color: var(--clr-primary-dark);
    /* background-color: var(--clr-neutral-light); */
    border-color: var(--clr-accent-orange);
}

        /* SASS PROFILE IMAGE */ 

$card-height: 100%  */

        /* PROFILE */

.profile-image {
    height: 150px;
    width: 150px;
}

        /* RECIPE DETAIL PAGE */

#recipe-ud-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipe-post-description {
    position: absolute;
    bottom: 5px;
}

.container-details {
    display: flex;
}

.accordion {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.accordion-item {
    right: 5px;
    width: 66%;
}

        /* RECIPE CARDS IN LIST */

.card {
    margin-bottom: 1.5rem;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

        /* LIKE BUTTON ON RECIPE */

.btn-like {
    color: var(--clr-accent-green);
    font-size: 20px;
    
}