/* ROOT */

:root {
    --clr-primary-light: rgba(248, 248, 248);
    --clr-primary-dark: rgba(66, 47, 33);
    --clr-primary-black: rgba(29, 19, 18);

    --clr-neutral-light: rgba(192, 188, 177);
    --clr-neutral-dark: rgba(106, 86, 77);

    --clr-accent-pink: rgb(176, 75, 124);
    --clr-accent-orange: rgba(195, 130, 53);
    --clr-accent-green: rgb(85, 151, 72);
}

/* BASE */

body {
    background: var(--clr-primary-light);
    color: var(--clr-primary-dark)
}

h1,
h2,
h3,
h4 {
    color: var(--clr-primary-dark);
}

p {
    color: var(--clr-primary-dark);
}

@media (max-width: 770px) {
    p {
        font-size: 80%;
    }
}

    /* Navbar */

header {
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
}

#navbar-bg {
    color: var(--clr-neutral-light);
}

.navbar-brand {
    color: var(--clr-primary-dark);
    font-size: 1.4rem;
}

#navbar-links-coll li {
    padding-left: 10px;
}

#nav-profile-img {
    transition: all 0.3s ease-in-out;
  }
  
#nav-profile-img:hover {
    transform: scale(1.2);
}  

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--clr-accent-orange)
}

@media (min-width: 770px) {
    #nav-items {
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 430px) {
    #nav-profile-img {
        height: 30px;
        width: 30px;
    }

    #logo-auth {
        font-size: 1rem;
    }
}

    /* Buttons */

.btn-link {
    text-decoration: none;
    color: var(--clr-neutral-dark);
}

#signup-btn a {
    color: var(--clr-primary-light)
}

.btn-custom-primary {
    background-color: var(--clr-accent-orange);
    color: var(--clr-primary-light);
}

.btn-custom-secondary {
    background-color: var(--clr-accent-green);
    color: var(--clr-primary-light);
}

.btn-custom-secondary-outline {
    border-color: var(--clr-accent-green);
    border-radius: 5px;
    color: var(--clr-accent-green)
}

.btn-custom-neutral-light {
    background-color: var(--clr-neutral-light);
    color: var(--clr-primary-dark);
}

.text-dark {
    color: var(--clr-primary-dark);
}

.info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

/* ALL PAGES */

/* Default for bg-img for small devices */
.bg-image {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 50px;
}

.content-section::-webkit-scrollbar {
    width: 4px;
}

.content-section::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-section::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
}

.cookbook-links a {
    margin-top: 20px;
    color: var(--clr-neutral-dark);
    text-transform: capitalize;
}

/* .cookbook-links:active {
    color: var(--clr-primary-dark);
    border-color: var(--clr-neutral-dark);
    font-weight: 700;
} */

.cookbook-links a:hover {
    color: var(--clr-primary-dark);
    border-color: var(--clr-neutral-dark);
    font-weight: 700;
}

.btn-link {
    padding: 6px;
}

/* media queries */

/* Height on bg-im for devices larger than 430px */
@media (min-width: 430px) {
    .bg-image {
        height: 500px;
    }
}

/* Height on bg-img for devices larger than 1025px */
@media (min-width: 1025px) {
    .bg-image {
        height: 600px;
    }
}

@media (max-width: 430px) {
    .content-section::-webkit-scrollbar {
        display: none;
    }

    .content-section {
        max-height: 700px;
    }

    .cookbook-links a {
        font-size: 60%;
        padding: 2px;
    }

    .cookbook-links {
        margin-top: 5px;
    }
}

@media (max-width: 325px) {
    .btn-link {
        padding: 6px !important;
    }
}

/* REGISTER/SIGNUP PAGE */


@media (max-width: 430px) {
    #intro-register {
        max-height: none;
        height: 770px;
        width: 100%;
    }

    #content-register {
        padding-right: 0px;
    }
}

/* ABOUT PAGE */

@media (max-width: 430px) {
    #intro-about {
        max-height: none;
        height: 500px;
        width: 100%;
    }
}

@media (max-width: 376px) {
    #intro-about {
        max-height: none;
        height: 600px;
        width: 100%;
    }
}

/* LOGIN PAGE */

.form-label {
    display: flex;
}

@media (max-width: 430px) {
    #intro-login {
        max-height: none;
        height: 500px;
        width: 100%;
    }

    #content-login {
        padding-right: 0px;
    }
}

/* PROFILE */

#intro-profile {
    max-height: none;
    height: 1200px;
    width: 100%;
} 

#content-profile {
    max-height: 1000px;
    overflow-y: auto;
    padding-right: 0px;
}

.profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media-body-profile {
    padding: 25px;
}

@media (max-width: 430px) {

    .profile-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro-profile {
        max-height: none;
        height: 1040px;
        width: 100%;
    }

    #content-profile {
        padding-right: 0px;
    }
}

/* HOME PAGE */

.container-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-header {
    margin-top: 25px;
    width: 60%;
    height: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.list-header p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.container-cookbook-text {
    height: 180px;
}

@media (max-width: 430px) {

    .list-header {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
    }
}

.pagination-container {
    padding-top: 25px;
    margin: 20px;
}

.pagination a {
    color: var(--clr-neutral-dark);
}

.pagination .active a {
    color: var(--clr-primary-light);
    background-color: var(--clr-accent-orange);
    border-color: var(--clr-accent-orange);
}

.pagination a:hover {
    color: var(--clr-primary-dark);
    border-color: var(--clr-accent-orange);
}

/* ADD RECIPE PAGE */

#intro-recipe {
    max-height: none;
    height: 1800px;
    width: 100%;
} 

#content-recipe {
    max-height: 1700px;
    overflow-y: auto;
    padding-right: 0px;
    width: 700px;
}

/* SASS PROFILE IMAGE */

$card-height: 100% */
/* RECIPE DETAIL PAGE */

#recipe-ud-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipe-post-description {
    position: absolute;
    bottom: 5px;
}

.container-details {
    display: flex;
}

.accordion {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.accordion-item {
    right: 5px;
    width: 66%;
}

/* RECIPE CARDS IN LIST */

.card {
    margin-bottom: 1.5rem;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* LIKE BUTTON ON RECIPE */

.btn-like {
    color: var(--clr-accent-green);
    font-size: 20px;
}

/* FOOTER */

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}