/* || Root */

:root {
    --clr-primary-light: rgb(253, 253, 253);
    --clr-primary-dark: rgb(51, 53, 48);

    --clr-neutral-light: rgb(222, 215, 218);
    --clr-neutral-dark: rgb(196, 180, 159);

    --clr-accent-yellow: rgb(252, 211, 86);
    --clr-accent-orange: rgb(195, 126, 93);
    --clr-accent-green: rgb(54, 122, 59);
}


/* || Base.html */

body {
    background: var(--clr-primary-light);
    color: var(--clr-primary-dark)
}

/* On pages that don't scroll fix the footer to the bottom. 
All classes and id's starting with "main-" has this function*/
.main-one-page {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-scroll-page {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 /* this will make the bg-image cover the whole bg */
.bg-img-one-page {
    height: 78vh;
}

.main-recipe {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

/* Navbar */

header {
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
}

#navbar-bg {
    color: var(--clr-neutral-light);
}

.navbar-brand {
    color: var(--clr-primary-dark);
    font-size: 1.4rem;
}

#navbar-links-coll li {
    padding-left: 10px;
}

#nav-profile-img {
    transition: all 0.3s ease-in-out;
}

#nav-profile-img:hover {
    transform: scale(1.2);
}

.nav-link:hover, .nav-link:active {
    color: var(--clr-accent-orange);
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--clr-accent-orange)
}

@media (min-width: 770px) {
    #nav-items {
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 430px) {
    #nav-profile-img {
        height: 30px;
        width: 30px;
    }

    #logo-auth {
        font-size: 1rem;
    }
}

/* || General styles */

h1,
h2,
h3,
h4 {
    color: var(--clr-primary-dark);
}

p {
    color: var(--clr-primary-dark);
}

@media (max-width: 770px) {
    p {
        font-size: 80%;
    }
}

/* Default for bg-img for small devices */
.bg-image {
    /* height: 400px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section {
    max-height: fit-content;
    overflow-y: auto;
    padding-right: 50px;
}

.content-section::-webkit-scrollbar {
    width: 4px;
}

.content-section::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-section::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
}

.cookbook-links a {
    margin-top: 20px;
    text-transform: capitalize;
    background-color: transparent;
}

.cookbook-links {
    background-color: transparent !important;
}

.btn-link {
    padding: 6px;
}

/* Height on bg-im for devices larger than 430px */
@media (min-width: 430px) {
    .bg-image {
        /* height: 500px; */
    }
}

/* Height on bg-img for devices larger than 1025px */
@media (min-width: 1025px) {
    .bg-image {
        /* height: 600px; */
    }
}

@media (max-width: 430px) {
    .content-section::-webkit-scrollbar {
        display: none;
    }

    .cookbook-links a {
        font-size: 60%;
        padding: 2px;
    }

    .cookbook-links {
        margin-top: 5px;
    }
}

@media (max-width: 325px) {
    .btn-link {
        padding: 6px !important;
    }
}

/* Buttons */

.btn {
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    color: var(--clr-primary-light);
    background-color: var(--clr-accent-orange);
}

.btn-link {
    text-decoration: none;
    color: var(--clr-neutral-dark);
}

#signup-btn a {
    color: var(--clr-primary-light);

}

.btn-custom-primary {
    background-color: var(--clr-accent-orange);
    color: var(--clr-primary-light);
}

.btn-custom-primary-outline {
    border-color: var(--clr-accent-orange);
    border-radius: 5px;
    color: var(--clr-accent-orange)
}

.btn-custom-secondary {
    background-color: var(--clr-accent-green);
    color: var(--clr-primary-light);
}

.btn-custom-secondary-outline {
    border-color: var(--clr-accent-green);
    border-radius: 5px;
    color: var(--clr-accent-green)
}

.btn-custom-neutral-light {
    background-color: var(--clr-neutral-light);
    color: var(--clr-primary-dark);
}

.text-dark {
    color: var(--clr-primary-dark);
}

.info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

a:hover {
    color: var(--clr-accent-green);
    text-decoration: none;
}

/* Favorite button */

.btn-like {
    color: var(--clr-accent-orange);
    font-size: 20px;
}

.btn-like:hover {
    background-color: var(--clr-accent-orange) !important;
}

/* || Register/Sign up page */

#main-register {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-register {
    min-height: 132vh;
    width: 100%;
}

#content-register {
    max-height: fit-content;
    padding-right: 0px;
}

/* || Login page */

.form-label {
    display: flex;
}

/* || Profile page */

#main-profile {
    width: 100%;
    height: 126vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-profile {
    min-height: 152vh;
    width: 100%;
}

#content-profile {
    max-height: fit-content;
    overflow-y: auto;
    padding-right: 0px;
}

.profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media-body-profile {
    padding: 25px;
}

@media (max-width: 430px) {

    .profile-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content-profile {
        padding-right: 0px;
    }
}

/* || Home Page */

.container-centered {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-header {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.list-header p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.container-cookbook-text {
    height: 180px;
}

@media (max-width: 430px) {

    .list-header {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
    }
}

.pagination-container {
    padding-top: 25px;
    margin: 20px;
}

.pagination a {
    color: var(--clr-neutral-dark);
}

.pagination .active a {
    color: var(--clr-primary-light);
    background-color: var(--clr-accent-orange);
    border-color: var(--clr-accent-orange);
}

.pagination a:hover {
    color: var(--clr-primary-dark);
    border-color: var(--clr-accent-orange);
}

/* || Add recipe page */

#intro-recipe {
    min-height: 222vh;
    width: 100%;
}

#content-recipe {
    max-height: fit-content;
    overflow-y: auto;
    padding-right: 0px;
}

@media (min-width: 600px) {
    #content-recipe {
        width: 550px;
    }
}

/* || Delete Recipe  */

.main-recipe-delete {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-recipe-delete {
    height: 600px;
    width: 100%;
}

#content-recipe-delete {
    max-height: max-content;
    overflow-y: auto;
    padding-right: 0px;
}

@media (max-width: 430px) {

    #content-recipe-delete {
        max-height: fit-content;
        width: 200px;
        font-size: 80%;
    }
}

/* || Recipe detail page */

#recipe-ud-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipe-post-description {
    position: absolute;
    bottom: 5px;
}

.container-details {
    display: flex;
}

@media (max-width: 575px) {
    .crud-btn {
        justify-content: center;
    }

    .crud-btn-text {
        font-size: 10px;
        margin-top: 5px;
    }
}

/* || Favorites Page */

.nothing-message {
    height: 45vh;
    margin-top: 25px;
    background-color: var(--clr-primary-light);
    border: 1px var(--clr-neutral-dark) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.nothing-message p {
    padding: 20px;
}

@media (max-width: 375px) {
    .nothing-message p {
        padding: 0px;
    }
}

/* || Recipe cards in list */

.card {
    margin-bottom: 1.5rem;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 1/ 1;
    object-fit: cover;
}

/* || Footer */

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}